/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 70px;
}

p {
    overflow: auto;
}

.archiviste-tabs {
    width: 30%;   
    text-align: center;
}

.white {
    color: white;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*!* Set widths on the form inputs since otherwise they're 100% wide *!
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}*/

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

#container {
    min-height: 90vh;
    min-width: 90vw;
}

.d-none{
    display: none;
}
/* Page is not shown until it's fully loaded */
.hiddenLoad {
    display: none;
}

/* Change the hover color on DataTable (jQuery) */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: rgba(0, 0, 0, 0.23)
}

.modal-dialog{
    min-width: 50vw;
}

#modalSize {
    min-width: 70vw;
}

.submitModal {
    display: block;
}

tr:hover {
    cursor: pointer;
}

.table {
    width: 100% !important;
}

.vertical-line {
    border-left: 2px solid black;
}

.bg-dim-danger {
    background-color: #FEEAED;
    color: #D33B5E;
    border-radius: 3px;
    text-align: center;
}

#coteValidation {
    width: 100% !important;
}

.highlight_new {
    background-color : #FFFFDD !important;
}

#overlayDropZone {
    background-color: white;
    height: 90%;
    width: 40%;
    position: fixed;
    right: 2%;
    top: 2%;
    border-radius: 10px;
    border: black 5px dashed;
    z-index: 10000;
    overflow: scroll;
}

.header-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1 !important;
    justify-content: center;
    color: white;
    background-color: #343a40;
    height: 20%;
}

.overlay-elements {
    border: 1px solid black;
    padding: 5px;
    height: 125px !important;
    margin: 5px;
}

/* ------------------------------FORM SLIDER START----------------------------------------*/
/* Style the form */
#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

/* Style the input fields */
input {
    padding: 10px;
    width: 100%;
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
    min-height: 60vh;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #4CAF50;
}

textarea.form-control {
    height : calc(1.5em + 0.75rem + 2px) ;
    resize: vertical;
}

/* ------------------------------FORM SLIDER END------------------------------------------*/

.dropdownPdf:hover {
    cursor: pointer;
}

#ctl00_MainContent_rptViewer_ctl09 {
    display: block !important;
}

#collapseElm, #collapseElmAdd {
    width: 850px;
    margin: auto;
}

/* ------------------------------FONT AWESOME START------------------------------------------*/
.fas {
    font-size: 1.8em;
    margin-left: 0.2rem;
}
/* ------------------------------FONT AWESOME END------------------------------------------*/